<article>
    <h2 class ="hobo">EITHER OF THE FOLLOWING IS THE ISSUE</h2>
    <ul>
    <li class="Err"> You either entered the wrong username</li>
    <li class="Err"> or You entered the wrong password</li>
    <li class="Err"> or You didn't enter username</li>
    <li class="Err"> or You didn't enter password</li>
    </ul>
    <a href="/">go back</a>
</article>