<article>
    <ul>
    <form id ="login-form" action="/login" method="POST">
    <li><label for="username" class="heaDD"> Enter your username fam : </label></li>
    <input type="text" name="username" id="username">
    <li><label for="password" class="heaDD"> Enter your password fam : </label></li>
    <input type="text" name="password" id="password">
    <li><button type="submit" value="Submit"> SUBMIT 
        
    </button></li>
    </ul>
    </form>
</article>