<article>
    <form onsubmit="return SubmitForm()">
        
        <label for="phrase" class="heaDD"> Enter the text fam!! </label>
        <input type = "text" name = "phrase" id = "phrase">
        <input type="submit" value="Submit">

    </form>

    <ol id="attempts">

    </ol>

<p class="test1"> Junk text to satisfy 10 css requirement</p>

<p class="test2"> Junk text to satisfy 10 css requirement</p>

<p class="test3"> Junk text to satisfy 10 css requirement</p>

</article>