<article>
   
    <form action="/result" method="POST" class="description">

    <label for="text-to-test"> Enter the test text fam!! </label>

    <input type="text" name="text-to-test" id="text-to-test">
    
    <input type="submit" value="Submit">

    </form>
</article>