<article>
    <header>
        <h1 class="heaDD">Getting Results!!</h1>
    </header>

    {{#if palindrome_check}}
    <p class="success">"{{text}}" is palindrome</p>
    {{else}}
    <p class="failure">"{{text}}" is not palindrome</p>
    {{/if}}

    <a href="/"> Go back </a>

</article>