.hONE{
    font-family: Lobster;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700; 
    line-height: 26.4px;
    color: #f32d0a;
}

.description{

    font-family: Lobster;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700; 
    line-height: 26.4px;
    color: #f5f110;
    
}

.error
{
    font-family: "Brush Script MT", cursive;
    font-size: 20px; font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    color: #550505;

}

.heaDD
{
    font-family: Lobster;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700; 
    line-height: 26.4px;
    color: #070230;
}

.success
{
    font-family: Lobster;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700; 
    line-height: 26.4px;
    color: #28a745;
}

.failure
{
    font-family: Lobster;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700; 
    line-height: 26.4px;
    color: #dc3545;
}

body {
    background-image: url("lol.jpg");
}